@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #0b1020;
  color: #e6edf3;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}